#!/bin/bash

# use tag as hostname
TOKEN=`curl -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 900"`
NAME=`curl -s -H "X-aws-ec2-metadata-token: $TOKEN" http://169.254.169.254/latest/meta-data/tags/instance/Name`
hostnamectl set-hostname $NAME

# setup for ansible-automation-platform-* repositories
# subscription-manager register ...
# subscription-manager config --rhsm.manage_repos=1

# install dev tools from package
# sudo dnf install --enablerepo=ansible-automation-platform-2.5-for-rhel-9-x86_64-rpms ansible-dev-tools

reboot